body{
    background-color: black;
    color:black;
    text-shadow:
/* 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;   */
}
#head {
    font-size: 80px;
    background-color: rgba(255, 166, 0, 0.863);
 
}

p{
    font-size: 25px;
    
    
}

.jumbotron{
    background-color: peachpuff;
    font-size: 30px;
}
img{
    width:550px;
  height:550px;
    
  -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

map{
    background-color: red; 
}

.card{
    background-color: peachpuff;
}






